<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!--使用log4j输出日志-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!--配置包的别名，为了方便使用可以不再书写包名部分，只需要类名即可-->
    <typeAliases>
        <package name="com.jptangchina.mybatis.sample.model"/>
    </typeAliases>

    <!--配置数据库连接-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.0.174:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <!--mapper映射文件-->
    <mappers>
        <mapper resource="com/jptangchina/mybatis/sample/mapper/CountryMapper.xml"/>
    </mappers>
</configuration>